@import "sub/variables";
*{
    outline: none;
}

@import "sub/header";
@import "sub/universal";
@import "sub/user-buttons";
@import "sub/btn";
@import "sub/site-navigation";
@import "sub/hero";
@import "sub/waves";
@import "sub/typo";
@import "sub/boxes";
@import "sub/products";
@import "sub/search";
@import "sub/sidebars";

@import "sub/woocommerce/single-product";
@import "sub/woocommerce/cart";
@import "sub/woocommerce/checkout";

.woocommerce-breadcrumb{
    color: $red;
}
.woocommerce-breadcrumb a{
    font-size: 1rem;
    color: $dark;
    font-weight: 300;
    text-decoration: none;
}
.summary .price{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: $dark;
    text-decoration: none;
    & del span{
        color: lightgray;
    }
    & span, &ins{
        text-decoration: none;
    }
}
.added_to_cart{
    display: none !important;
}
.pswp__bg{
    opacity: .6 !important;
}
.yith-wcqv-main .col-3{
    display: none;
}
.yith-wcqv-main .col-9{
    width: 100%;
    margin-right: 2rem;
}
.yith-wcqv-main .product{
    display: flex;
    gap: 2rem;
    padding: 1rem;
}
.yith-wcqv-main form{
    display: flex;
    gap: 1rem;
    width: 100% !important;
    margin-bottom: 0 !important;
    margin-top: 1rem;
    justify-content: flex-start !important;
    & button{
        background: $yellow !important;
        font-weight: 700 !important;
        color: #fff !important;
        &:hover{
            background: $orange-dark !important;
        }
    }
    & a{
        background: $orange !important;
        font-weight: 700 !important;
        color: #fff !important;
        &:hover{
            background: $orange-dark !important;
        }
    }
}
.yith-wcqv-main .woocommerce-product-details__short-description{
    width: 100% !important;
}
.yith-wcqv-main .price{
    color: $dark;
}
.yith-wcqv-button{
    text-decoration: underline;
    color: $dark !important;
    &:hover{
        color: $orange-dark !important;
    }
}
