@import "sub/variables";
*{
    outline: none;
}

@import "sub/header";
@import "sub/universal";
@import "sub/user-buttons";
@import "sub/btn";
@import "sub/site-navigation";
@import "sub/hero";
@import "sub/waves";
@import "sub/typo";
@import "sub/boxes";
@import "sub/products";
@import "sub/search";
@import "sub/sidebars";

@import "sub/woocommerce/single-product";
@import "sub/woocommerce/cart";
@import "sub/woocommerce/checkout";

.woocommerce-breadcrumb{
    color: $red;
}
.woocommerce-breadcrumb a{
    font-size: 1rem;
    color: $dark;
    font-weight: 300;
    text-decoration: none;
}
.summary .price{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: $dark;
    text-decoration: none;
    & del span{
        color: lightgray;
    }
    & span, &ins{
        text-decoration: none;
    }
}
.added_to_cart{
    display: none !important;
}