.cart{
    border: none !important;
    & .product-thumbnail{
        max-width: 70px;
    }
    & .product-remove{
        max-width:  30px;
        padding-right: 10px !important;
        padding-left: 1rem !important;
    }
    & *{
        border: none !important;
    }
    & .actions{
        display: flex;
    }
    
}
.woocommerce a.remove{
    width: 25px;
}
td.product-subtotal, th.product-subtotal{
    text-align: right;
}
td.product-quantity, th.product-quantity{
    text-align: center;
}
td.product-name a{
    text-decoration: none;
    color: #333;
}
#coupon_code{
    max-width: 250px;
    width: 100%;
    margin-right: 1rem;
    padding: .5rem;
    border: 1px solid $dark !important;
    border-radius: .5rem;
}
.coupon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    float: unset;
    & label{
        display: none;
    }
}
.cart-actions{
    display: flex;
    justify-content: space-between;
}
.cart-collaterals{
    padding-left: 3.5rem;
    height: 100%;
    & .cart_totals {
        position: sticky;
        top: 120px;
        background: #E6E6E6;
        width: 100% !important;
        float: unset !important;
        padding: 1rem;
        // border: 1px solid #BCAAA4;
        box-shadow: 0 7px 10px rgba(0, 0, 0, .1);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }
    & table{
        margin-bottom: 0 !important;
    }
    & table, & table *{
        border: none !important;
    }
    & .wc-proceed-to-checkout{
        align-self: flex-end;
    }
    & tr td{
        text-align: right;
    }
    & .woocommerce-shipping-totals, & .cart-subtotal{
        display: none;
    }
}