.site-navigation{
    display: flex;
    gap: 1.5rem;
    &__item{
        color: $dark;
        text-decoration: none;
        display: flex;
        gap: .5rem;
        align-items: center;
        &.active{
            color: $red;
        }
    }
    &__desktop{
        
        align-items: center;
    }
}