@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.text{
    font-size: 1rem;
    &-cropped{
        width: 350px;
    }
}

.title{
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
}