.dash-bordered{
    position: relative;
    &::after{
        content: '';
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border-radius: inherit;
        border: $dash-border;
    }
}

.bg-yellow{
    background: $yellow;
}

.text-section{
    position: relative;
    &__background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        &--img{
            background-size: cover;
            background-position: center;
        }
    }
}

.wishlist_products_counter_text{
    display: none;
}

.tinvwl-to-left.look_in{
    display: none;
}
main{
    min-height: 50vh;
}