.user-buttons{
    display: inline-flex;
    align-items: center;
    width: fit-content;
    background: $yellow;
    gap: 2rem;
    padding: calc(.3rem + 10px) calc(2rem + 10px);
    border-radius: 1000px;
    position: relative;
    min-height: 60px;
    &__btn{
        position: relative;
        display: inline-block;
        &--notifier{
            position: absolute;
            right: -10px;
            top: -5px;
            width: 18px;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $dark;
            font-size: 11px;
            border-radius: 1000px;
            color: white;
        }
        &--icon{
            width: 30px;
            height: auto;
        }
    }
}