@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  outline: none;
}

.site-header {
  position: sticky;
  width: 100%;
  z-index: 9999;
  top: 0px;
  background: #FFF2CF;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.site-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.site-header__content > div {
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
}

.dash-bordered {
  position: relative;
}
.dash-bordered::after {
  content: "";
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: inherit;
  border: 2px dashed #fff;
}

.bg-yellow {
  background: #F7B500;
}

.text-section {
  position: relative;
}
.text-section__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.text-section__background--img {
  background-size: cover;
  background-position: center;
}

.wishlist_products_counter_text {
  display: none;
}

.tinvwl-to-left.look_in {
  display: none;
}

main {
  min-height: 50vh;
}

.user-buttons {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  background: #F7B500;
  gap: 2rem;
  padding: calc(0.3rem + 10px) calc(2rem + 10px);
  border-radius: 1000px;
  position: relative;
  min-height: 60px;
}
.user-buttons__btn {
  position: relative;
  display: inline-block;
  z-index: 10;
}
.user-buttons__btn--notifier {
  position: absolute;
  right: -10px;
  top: -5px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4D3800;
  font-size: 11px;
  border-radius: 1000px;
  color: white;
}
.user-buttons__btn--icon {
  width: 30px;
  height: auto;
}

.site-btn {
  min-height: 60px;
  border-radius: 1000px !important;
  display: inline-flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  padding: 0 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}
.site-btn__icon {
  width: 30px;
  height: auto;
}
.site-btn__search {
  padding: 0;
  background: #FF9853;
  min-width: 60px;
}
.site-btn__search input {
  width: 0;
  padding: 0;
  border: 0;
  border-radius: 1000px;
  height: 30px;
  transition: all 0.2s ease-in-out;
}
.site-btn__search svg {
  transition: all 0.2s ease-in-out;
}
.site-btn__search.unfold {
  padding: 0 1rem;
  pointer-events: none;
}
.site-btn__search.unfold * {
  pointer-events: all;
}
.site-btn__search.unfold input {
  width: 200px;
  padding: 0 1rem;
}
.site-btn__search.unfold svg {
  width: 0;
}
.site-btn__yellow {
  background: #F7B500;
  color: white;
}
.site-btn__yellow:hover {
  background: #FF9853;
  color: white;
}

.site-navigation {
  display: flex;
  gap: 1.5rem;
}
.site-navigation__item {
  color: #4D3800;
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.site-navigation__item.active {
  color: #B5421F;
}
.site-navigation__desktop {
  align-items: center;
}

.hero {
  height: 550px;
}
.hero .swiper {
  height: 100%;
  position: relative;
}
.hero .swiper-buttons {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero .swiper-button-wrapper {
  height: 100%;
}
.hero .swiper-button-next, .hero .swiper-button-prev {
  width: 30px;
  opacity: 0.8;
}
.hero .swiper-button-next:hover, .hero .swiper-button-prev:hover {
  opacity: 1;
}
.hero .swiper-button-next::after, .hero .swiper-button-prev::after {
  display: none;
  content: "";
}

.waves {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}
.waves-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 65px;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}
.text {
  font-size: 1rem;
}
.text-cropped {
  width: 350px;
}

.title {
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
}

.boxes__item {
  background: #FF9853;
  background-size: cover;
  background-position: left center;
  display: flex;
  position: relative;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}
.boxes__item--content {
  padding: 2rem;
  color: #fff;
  width: 70%;
  align-self: flex-end;
}
.boxes__item--content .text {
  font-size: 0.8rem;
}
.boxes__item--img {
  position: relative;
  display: block;
  width: 30%;
}
.boxes__item--img img {
  height: auto;
  width: 100%;
}
.boxes__item:hover {
  background: #F7B500;
  transform: translateY(-15px);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
  background-image: none !important;
  cursor: pointer;
}

.shop-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem 2rem;
}

.product-card {
  text-decoration: none;
  color: #4D3800;
  position: relative;
}
.product-card__image {
  width: 100%;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.2s ease;
}
.product-card__image img {
  width: 100%;
  height: auto;
}
.product-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.product-card__content--title {
  font-size: 1rem;
  text-align: center;
}
.product-card__content--title * {
  font-size: inherit;
}
.product-card__content--price {
  font-size: 0.8rem;
}
.product-card__content--price--old {
  opacity: 0.5;
  text-decoration: line-through;
  margin-right: 0.5rem;
}
.product-card:hover {
  color: #B5421F;
}
.product-card:hover .product-card__image {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-15px);
}
.product-card:hover {
  color: #B5421F;
}

.shop-content__banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2.5rem;
  min-height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.shop-content__banner--img-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
.shop-content__banner--img-wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.2);
}
.shop-content__banner--img {
  width: 100%;
  min-height: 350px;
  z-index: -10;
}

.woocommerce-ordering {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.woocommerce-ordering::after {
  content: "›";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 1;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}
.woocommerce-ordering select {
  background: #F7B500;
  border: none;
  color: white;
  padding: 0.5rem;
  appearance: none;
  text-align: center;
  border-radius: 1rem;
}

.onsale {
  position: absolute;
  top: 1rem;
  left: -2rem;
  padding: 0.5rem 1rem;
  background: #FFF2CF;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.ajax_add_to_cart {
  float: right;
}

.product_meta {
  clear: both;
}

#commentform {
  display: none;
}

.added-to-cart-popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1.5rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
  background: #fff;
  opacity: 0;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
  transition: all 0.2s ease-in-out;
}
.added-to-cart-popup.show {
  opacity: 1;
  pointer-events: all;
  z-index: 600;
  transform: translateX(-50%) translateY(-50%);
}
.added-to-cart-popup__btns {
  display: flex;
  gap: 1rem;
}

.shop-products.columns-4 {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr !important;
}

.woocommerce-product-details__short-description {
  width: 70%;
}

.product_meta {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product_meta a {
  color: #B5421F;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.product_meta a:hover {
  color: #FF9853;
}

.loop-on-sale {
  position: absolute;
  top: 1rem;
  left: -2rem;
  padding: 0.5rem 1rem;
  background: #FFF2CF;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.quick-buy {
  background: #F7B500 !important;
  margin-left: 1rem;
}

.button:hover, .site-btn:hover {
  color: #fff !important;
  background: #DF7C3A !important;
}

.site-btn.go-to-cart {
  background: #FF9853;
}

.page-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  z-index: 500;
}
.page-overlay.active {
  opacity: 1;
  pointer-events: all;
}

.search-results {
  position: absolute;
  top: calc(100% + 3rem);
  right: 0;
  background: white;
  width: 300px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}
.search-results__item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
  transition: all 0.2s ease-in-out;
}
.search-results__item:hover {
  background: #ededed;
  cursor: pointer;
}
.search-results__footer {
  text-align: center;
  background: #eee;
  border-radius: 0.5rem;
  overflow: hidden;
}
.search-results__footer--see-all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  color: #4D3800;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.search-results__footer--see-all:hover {
  color: #fff;
  background: #FF9853;
}
.show-results .search-results {
  top: calc(100% + 1.5rem);
  pointer-events: all;
  opacity: 1;
}

.shop-sidebar__item {
  background: #FFF2CF;
  border-radius: 1rem;
  overflow: hidden;
}
.shop-sidebar__item--title {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  background: #F7B500;
  padding: 1rem;
  color: #fff;
}
.shop-sidebar__item ul {
  list-style: none;
  color: #4D3800;
  padding: 1.5rem;
}
.shop-sidebar__item ul li {
  color: inherit;
}
.shop-sidebar__item ul li a {
  color: inherit;
  text-decoration: none;
}
.shop-sidebar__item ul li.current-cat a {
  color: #B5421F;
  text-decoration: underline;
}

.product .cart {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.product .price {
  width: 50%;
  margin-bottom: 0;
  height: 50px;
  display: flex;
  align-items: center;
}

.button, .woocommerce button.button, .checkout-button {
  float: left;
  border: none;
  min-height: 50px;
  display: inline-flex !important;
  width: fit-content;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  padding: 0 1.5rem;
  text-decoration: none;
  font-weight: 600;
  position: relative;
  color: white;
  border-radius: 100px !important;
  background: #FF9853;
  flex-shrink: 0;
}

.checkout-button {
  background: #F7B500 !important;
  align-self: flex-end;
}

.button::after {
  content: "";
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: inherit;
  border: 2px dashed #fff;
}

.product .single_add_to_cart_button {
  background: #FF9853;
}

.product .quantity {
  display: none;
}

.woocommerce-product-details__short-description {
  padding-top: 1rem;
  clear: both;
}

.product_title {
  margin-bottom: 1rem;
}

.woocommerce-product-gallery img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.woocommerce-breadcrumb {
  margin: 1.5rem 0 3rem 0;
}

.woocommerce-tabs {
  margin: 2.5rem 0;
}

.wc-tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  z-index: 15;
}
.wc-tabs li {
  padding: 1rem 2rem;
  background: #FFF2CF;
  color: #4D3800;
  border-top: 2px solid #FFF2CF;
}
.wc-tabs li a {
  text-decoration: none;
  color: inherit;
}
.wc-tabs li.active {
  background: #fff;
}
.wc-tabs li:first-child {
  border-top-left-radius: 1rem;
  border-left: 2px solid #FFF2CF;
}
.wc-tabs li:last-child {
  border-right: 2px solid #FFF2CF;
  border-top-right-radius: 1rem;
}

.woocommerce-Tabs-panel {
  padding: 1rem 2rem;
  border-left: 2px solid #FFF2CF;
  border-bottom: 2px solid #FFF2CF;
  border-right: 2px solid #FFF2CF;
  border-top: 2px solid #FFF2CF;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-top: -2px;
  z-index: 10;
}

.cart {
  border: none !important;
}
.cart .product-thumbnail {
  max-width: 70px;
}
.cart .product-remove {
  max-width: 30px;
  padding-right: 10px !important;
  padding-left: 1rem !important;
}
.cart * {
  border: none !important;
}
.cart .actions {
  display: flex;
}

.woocommerce a.remove {
  width: 25px;
}

td.product-subtotal, th.product-subtotal {
  text-align: right;
}

td.product-quantity, th.product-quantity {
  text-align: center;
}

td.product-name a {
  text-decoration: none;
  color: #333;
}

#coupon_code {
  max-width: 250px;
  width: 100%;
  margin-right: 1rem;
  padding: 0.5rem;
  border: 1px solid #4D3800 !important;
  border-radius: 0.5rem;
}

.coupon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  float: unset;
}
.coupon label {
  display: none;
}

.cart-actions {
  display: flex;
  justify-content: space-between;
}

.cart-collaterals {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.cart-collaterals .cart_totals {
  position: sticky;
  top: 120px;
  background: #EEEEEE;
  width: 325px !important;
  float: unset !important;
  padding: 1rem;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: flex-start;
}
.cart-collaterals table {
  margin-bottom: 0 !important;
}
.cart-collaterals table, .cart-collaterals table * {
  border: none !important;
}
.cart-collaterals .wc-proceed-to-checkout {
  align-self: flex-end;
}
.cart-collaterals tr td {
  text-align: right;
}
.cart-collaterals .woocommerce-shipping-totals, .cart-collaterals .cart-subtotal {
  display: none;
}

.woocommerce .woocommerce-checkout .col2-set .col-1,
.woocommerce .woocommerce-checkout .col2-set .col-2 {
  width: 100% !important;
}

.woocommerce .woocommerce-checkout .col2-set .col-1 {
  margin-bottom: 30px;
}

#billing_country_field, #shipping_country_field {
  display: none;
}

.checkout {
  color: #4D3800;
}
.checkout__info-wrapper {
  height: 100%;
}
.checkout__info {
  padding: 25px;
  background: #EEEEEE;
  border-radius: 1rem;
}
.checkout input, .checkout textarea {
  padding: 0.5rem 1rem;
  border: 1px solid #4D3800;
  border-radius: 0.5rem;
}

.woocommerce ul#shipping_method li {
  margin: 0;
}

.woocommerce-checkout-review-order-table {
  border: none !important;
}

#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods, #add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
  border: none !important;
  background: transparent !important;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
  background: #F7B500 !important;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
  border-radius: 1rem;
  background: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-top: none;
}

.woocommerce-error a, .woocommerce-info a, .woocommerce-message a {
  color: #B5421F;
}

.checkout_coupon input {
  width: 100%;
  max-width: 100% !important;
}

.thank-you ul.order_details {
  color: white;
}
.thank-you .order-info-list {
  padding: 20px;
  background: #FF9853;
  display: flex;
  justify-content: center;
  max-width: 900px;
  margin: 2rem auto 2rem auto;
  border-radius: 1rem;
}
.thank-you .order-info-list ul {
  margin: 1.5rem 0.5rem;
  width: fit-content;
}

.ty-customer-info {
  max-width: 900px;
  margin: 0 auto;
}

.woocommerce-MyAccount-navigation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
}
.woocommerce-MyAccount-navigation a {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  color: white;
}
.woocommerce-MyAccount-navigation a svg {
  width: 23px;
}
.woocommerce-MyAccount-navigation a:hover {
  color: #B5421F;
  text-decoration: underline;
}

.my-account .col-md-3 {
  position: relative;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  height: fit-content;
}
.my-account .col-md-3:before {
  content: "";
  position: absolute;
  width: 1000px;
  height: 100%;
  right: calc(100% - 2px);
  top: 0;
  background: #F7B500;
}
.my-account .woocommerce-orders-table, .my-account .woocommerce-orders-table * {
  border: none !important;
}
.my-account .woocommerce-orders-table img {
  width: 75px;
  border-radius: 10px;
}
.my-account .woocommerce-orders-table a {
  color: #F7B500;
  text-decoration: none;
  font-weight: bold;
}
.my-account legend {
  margin-top: 2rem;
}
.my-account form[enctype="multipart/form-data"] {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.changed-order-status {
  font-weight: bold;
  color: #FF9853;
}

.woocommerce-orders-table__header-order-actions, .woocommerce-orders-table__cell-order-actions {
  display: none;
}

.woocommerce form input, .woocommerce form textarea {
  padding: 0.5rem 1rem;
  border: 1px solid #4D3800;
  border-radius: 0.5rem;
}
.woocommerce form legend {
  border: inherit;
}
.woocommerce form button[type=submit] {
  margin-top: 1rem;
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  color: white;
  margin-top: 2rem;
  font-weight: bold;
}
.user-profile__img-wrapper {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.user-profile__img-wrapper img {
  min-height: 100%;
  width: 100%;
}

.bbp-topic-freshness a, .bbp-topic-permalink {
  color: #F7B500;
  font-weight: bold;
}

.bbp-topic-freshness a:hover, .bbp-topic-permalink:hover {
  color: #B5421F;
}

.bbp-breadcrumb a {
  color: #4D3800;
  text-decoration: none;
}
.bbp-breadcrumb a:hover {
  color: #B5421F;
  text-decoration: underline;
}

.bbp-breadcrumb-current {
  color: #B5421F;
}

.bbp-breadcrumb-root, .bbp-breadcrumb-root + span {
  display: none !important;
}

.bbp-author-link {
  color: #4D3800 !important;
  text-decoration: none;
  font-weight: bold;
  pointer-events: none;
}

.bbp-header, .bbp-footer {
  background: #FFF2CF !important;
  border: none !important;
}

.bbp-topics, .bbp-replies {
  border: none !important;
  border-radius: 1rem;
}

.topic, .bbp-header, .bbp-footer {
  padding: 0.5rem 1rem !important;
}

.bbp-author-role {
  display: none !important;
}

.bbp-reply-ip {
  display: none !important;
}

.single-topic .bbp-author-avatar {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 100px;
  border: 1px solid #4D3800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-topic .bbp-author-avatar img {
  height: 100%;
  min-width: 100%;
  margin-top: 0 !important;
}
.single-topic .bbp-reply-author {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.single-topic .bbp-reply-author .bbp-author-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#qt_bbp_reply_content_toolbar, #qt_bbp_topic_content_toolbar {
  display: none !important;
}

.bbp-form {
  background: #e6e6e6;
  border: none !important;
  border-radius: 1rem;
  padding: 1rem !important;
}
.bbp-form .bbp-the-content-wrapper + p {
  display: none !important;
}
.bbp-form textarea, .bbp-form input {
  border: 1px solid #4D3800;
  border-radius: 0.5rem;
  padding: 1rem;
}

.bbp-topic-tags {
  display: none !important;
}

.woocommerce-breadcrumb {
  color: #B5421F;
}

.woocommerce-breadcrumb a {
  font-size: 1rem;
  color: #4D3800;
  font-weight: 300;
  text-decoration: none;
}

.summary .price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #4D3800;
  text-decoration: none;
}
.summary .price del span {
  color: lightgray;
}
.summary .price span, .summary .priceins {
  text-decoration: none;
}

.added_to_cart {
  display: none !important;
}

.pswp__bg {
  opacity: 0.6 !important;
}

.yith-wcqv-main .col-3 {
  display: none;
}

.yith-wcqv-main .col-9 {
  width: 100%;
  margin-right: 2rem;
}

.yith-wcqv-main .product {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.yith-wcqv-main form {
  display: flex;
  gap: 1rem;
  width: 100% !important;
  margin-bottom: 0 !important;
  margin-top: 1rem;
  justify-content: flex-start !important;
}
.yith-wcqv-main form button {
  background: #F7B500 !important;
  font-weight: 700 !important;
  color: #fff !important;
}
.yith-wcqv-main form button:hover {
  background: #DF7C3A !important;
}
.yith-wcqv-main form a {
  background: #FF9853 !important;
  font-weight: 700 !important;
  color: #fff !important;
}
.yith-wcqv-main form a:hover {
  background: #DF7C3A !important;
}

.yith-wcqv-main .woocommerce-product-details__short-description {
  width: 100% !important;
}

.yith-wcqv-main .price {
  color: #4D3800;
}

.yith-wcqv-button {
  text-decoration: underline;
  color: #4D3800 !important;
}
.yith-wcqv-button:hover {
  color: #DF7C3A !important;
}

.about-first__img img {
  width: 100%;
  border-radius: 1rem;
}

.about-second {
  background: #FFF2CF;
}

.about-second .col-12:nth-child(1) .boxes__item {
  background: #FF9853;
}
.about-second .col-12:nth-child(2) .boxes__item {
  background: #FF7B53;
}
.about-second .col-12:nth-child(3) .boxes__item {
  background: #FF5E53;
}

.about-third__content {
  position: relative;
  z-index: 15;
  margin: 5rem 0;
  color: white;
}
.about-third__overlay {
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translateY(-50%);
  height: 130%;
  width: 2000px;
  background: #FF9853;
  z-index: -1;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.about-third__img {
  width: 100%;
  border-radius: 1rem;
}

/*# sourceMappingURL=theme.css.map */
